/******************************
Base Element Styles
*******************************/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* Font-Family: 'Raleway', Sans-Serif; */
  
  Font-Family: 'Fira Sans', Sans-Serif;
  
  Font-Family: 'Overpass', Sans-Serif;

  Font-Size: 15px;
  line-height: 1.6;
  background-color: #fdfaf3;

}

h1,
h2,
h3,
h4,
a {
  /* Font-Family: 'Vollkorn', Serif; */
  /* Font-Family: 'Cormorant Garamond', Serif; */
  Font-Family: 'Permanent Marker', Cursive;
}

h2,
h3 {
  text-align: center;
  letter-spacing: 5px;
  text-decoration: underline;

}

h4 {
  font-size: 1.25rem;
  text-align: left;
  letter-spacing: 5px;
}


p.text-grey {
  color: #757575;
  font-size: 1.2rem;
}

.header {
  padding: 10px 0;
  margin: 0 auto;
  max-width: 1150px;
  background-color: #B89414;
  border-radius: 5px;
  border: 1px solid red;
}


.logo {
  font-size: 24px;
  font-weight: 900;
  letter-spacing: .1rem;
  color: #1414B0;
  width: 265px;
  background-size: contain;
  white-space: nowrap;
  overflow: hidden;
  margin-left: 50px;
  padding-top: 0;
  border: 1px solid greenyellow;
  text-align: center;
}

.header {
  position: relative;
}

.chef {
  position: absolute;
  top: 1rem;
  left: 2px;
}

.nav {
  list-style: none;
  border: 1px solid yellow;

}

.nav li {
  margin: 12px 0 12px 18px;
}

.nav li a {
  text-decoration: none;
  color: #2727E2;
  font-size: .95rem;
  font-weight: 600;
  letter-spacing: .1rem;
  text-transform: uppercase;
  padding: 8px 16px 7px;
}

.nav li a:hover {
  background-color: #c28434;
  color: black;
  border-radius: 50% 20% / 10% 40%;
  transition: 300ms ease-in-out;
}

.nav li:last-child {
  margin-right: 5px;
}


a.icon {
  text-decoration: none;
}

.fa-bars {
  color: #c28434;
  padding: .15rem;
  border: solid 1px #afa6a6;
  font-size: 25px;
}


.fa-bars:hover {
  background-color: #FB8804;
  color: black;
}

.imgResponse {
  width: 100%;
  max-width: 1100px;
  height: auto;
  margin: 0 auto;
  padding: .7em;
  border: solid 1px #d1d0d0;
  border-radius: 0 0 5px 5px;
}

.feat-img {
  width: 100%;
  max-width: 600px;
  height: auto;
  padding: .7em;
  border: solid 1px #d1d0d0;
  border-radius: 5px;

}

.feat-img-1 {
  width: 100%;
  max-width: 500px;
  height: auto;
  padding: .7em;
  margin: 0 auto;
  border: solid 1px #d1d0d0;
  border-radius: 5px;

}

.opacity-min {
  opacity: 0.75
}


.row {
  width: 100%;
  max-width: 1100px;
  height: auto;
  margin: 0 auto;
}

.col {
  padding-right: .5rem;
  padding-left: .5rem;
  margin-left: 0;
  border: 1px solid rgb(224, 195, 31);
}


.navtop {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

/******************************
Flexbox Layout Mobile
*******************************/


.header,
.nav,
.imgResponse,
.row,
.col {
  display: flex;
  flex-direction: column;
}

.header {
  justify-content: space-between;
  
}

.nav {
  flex: 1;
  justify-content: space-around;
}



@media (max-width: 702px) {


  .nav {
    padding: 12px 0 12px 0;
    margin: 0 0 0 -10px;

  }

  .nav li a:hover {
    border-radius: 5px;
    transition: 400ms ease-in-out;
  }


  .nav.responsive {
    display: none;


  }

  /* position hamburger icon to right of viewport  */

  .icon {
    /* display: block; */
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  .imgResponse {
    display: none;
  }

  .hide-small {
    display: none;
  }

  .col-top {
    margin-top: 22rem;

  }

  /* This responsiveA is control by javascript  */
  .col-top.responsiveA {
    margin-top: 8rem;


  }

}


@media all and (min-width: 703px) {

/* My original nav layout */
  /* .header, */
  .nav {
    flex-direction: row;
  }

  /* For centering .header, */
  .header {
    flex-direction: column;
    align-items: center;
  }


  .icon {
    display: none;
  }

  .row {

    flex-direction: row;
    /* flex-wrap: wrap; */
    /* flex-flow: row wrap; */
    /* justify-content: space-between; */

  }

  .col {
    justify-content: first flex-start;
    border: 1px solid #222;
  }



  .primary {
    width: 33.33%;
  }

  .secondary {
    flex: 1 40%;
  }

  .tertiary {
    width: 33.33%;

  }

  .primary-1 {
    flex: 50%;
  }

  .secondary-1 {
    flex: 50%;


  }

}

@media (max-width:992px) and (min-width:701px) {
  .hide-medium {
    display: none;
  }
}

@media all and (min-width: 1030px) {
  .nav {
    flex: none;

  }

  .primary {
    width: 25%;
  }

  .secondary {
    width: 50%;
  }

  .tertiary {
    width: 25%;

  }

  .primary-1 {
    flex: 60%;
  }

  .secondary-1 {
    flex: 40%;


  }


}

/* justify-content: space-between for new nav bar*/
@media (min-width: 1025px) {

  .header {
    flex-direction: row;
    justify-content: space-between;
    
  }


}

/* This rule ajusts the width of the Header bar */

/* @media all and (min-width: 1030px) {
  .header,
  .response
     {
    width: 1100px; 
    min-width: 768px;
  }
 
    

} */